Source: libsrs-alt
Priority: optional
Maintainer: Andrey Jr. Melnikov <temnota.am@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev, automake
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/LynxChaus/libsrs-alt

Package: libsrs-alt-dev
Section: libdevel
Architecture: any
Depends: libsrs-alt (= ${binary:Version}), ${misc:Depends}
Description: Sender Rewriting Scheme, or SRS library
 This is a complete standalone C implementation of the SRS (Sender Rewriting Scheme)
 and includes a command line utility and daemon, test utility and static and dynamic
 libraries. SRS is a stop-gap for users of SPF (Sender Policy Framework).

Package: libsrs-alt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Sender Rewriting Scheme, or SRS library
 This is a complete standalone C implementation of the SRS (Sender Rewriting Scheme)
 and includes a command line utility and daemon, test utility and static and dynamic
 libraries. SRS is a stop-gap for users of SPF (Sender Policy Framework).
